/**app.wxss**/
@import './assets/fonts.scss';

.page-container {
  background-color: #f7f4f8;
  min-height: 100vh;
}

/* 添加这段样式后，Primary Button 会变成红色 */
:root {
  --primary-color: #f3514f;
}
page {
  --primary-color: #f3514f;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}

.img {
  width: 100%;
}
